# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 0e219989b6e57c08fa48d76a699af2a1da815d350654efd7988b431b3dddd8d7f57a810790cf4a56b3322a96e23d3435f46ab2f9bf8c4ab70067ae67972ebd6e

test:
  secret_key_base: ac085ada7b0fde42460ca5f17fd5214d5f49e7b6755595872a6837d001f4bb04118e06c74c9560f981f0bcdca413e3c24c4b0069915b7651afefa7bc3a5abe21

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
